<?xml version="1.0"?>
<config>
    <modules>
        <Drw_AdjustTotal>
            <version>0.1.0</version>
        </Drw_AdjustTotal>
    </modules>
    <frontend>
        <layout>
            <updates>
                <adjusttotal>
                    <file>drw/adjusttotal.xml</file>
                </adjusttotal>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <adjusttotal>
                    <file>drw/adjusttotal.xml</file>
                </adjusttotal>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <adjusttotal>
                <class>Drw_AdjustTotal_Block</class>
            </adjusttotal>
        </blocks>
        <helpers>
            <adjusttotal>
                <class>Drw_AdjustTotal_Helper</class>
            </adjusttotal>
        </helpers>
        <models>
            <adjusttotal>
                <class>Drw_AdjustTotal_Model</class>
            </adjusttotal>
        </models>
        <resources>
            <adjust_total_setup>
                <setup>
                    <module>Drw_AdjustTotal</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                <adjust_total_setup_write>
                    <connection>
                        <use>core_write</use>
                    </connection>
                </adjust_total_setup_write>
                <adjust_total_setup_read>
                    <connection>
                        <use>core_read</use>
                    </connection>
                </adjust_total_setup_read>
            </adjust_total_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote>
                <base_adjust_total_amount>
                    <to_order>*</to_order>
                </base_adjust_total_amount>
                <adjust_total_amount>
                    <to_order>*</to_order>
                </adjust_total_amount>
            </sales_convert_quote>
            <sales_convert_quote_address>
                <base_adjust_total_amount>
                    <to_order>*</to_order>
                </base_adjust_total_amount>
                <adjust_total_amount>
                    <to_order>*</to_order>
                </adjust_total_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <sales>
            <quote>
                <totals>
                    <adjust_total_total>
                        <class>adjusttotal/quote_address_total_adjusttotal</class>
                        <after>subtotal</after>
                    </adjust_total_total>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <adjust_total_total>
                        <class>adjusttotal/order_invoice_total_adjusttotal</class>
                        <after>subtotal</after>
                    </adjust_total_total>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <adjust_total_total>
                        <class>adjusttotal/order_creditmemo_total_adjusttotal</class>
                        <after>subtotal</after>
                    </adjust_total_total>
                </totals>
            </order_creditmemo>
        </sales>
    </global>
</config>